*.iml
.idea
*.jar
.gradle
build/
exclusive_src/
*.conf
!application.conf
!config.example.conf
src/main/kotlin/dev/kdrag0n/patreondl/filters/*.kt
!src/main/kotlin/dev/kdrag0n/patreondl/filters/ContentFilter.kt