*.iml
.idea
*.jar
!gradle/wrapper/gradle-wrapper.jar
.gradle
build/
exclusive_src/
static_src/
*.conf
!application.conf
!config.example.conf
src/main/kotlin/dev/kdrag0n/patreondl/content/filters/*.kt
!src/main/kotlin/dev/kdrag0n/patreondl/content/filters/ContentFilter.kt