body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242d60;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Ubuntu', sans-serif;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
section {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 22rem;
    border-radius: 6px;
    justify-content: space-between;
}
.product {
    display: flex;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.154px;
    color: #242d60;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
img {
    border-radius: 6px;
    margin: 24px;
    min-width: 64px;
}
h3,
h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.154px;
    color: #242d60;
    margin: 0;
}
h5 {
    opacity: 0.5;
}
#checkout-button {
    padding: 16px;
    background: #556cd6;
    color: white;
    width: 100%;
    font-size: 16px;
    border: 0;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.6px;
    border-radius: 0 0 6px 6px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 5.5px 0 rgba(0, 0, 0, 0.07);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Ubuntu', sans-serif;
}
#checkout-button:hover {
    opacity: 0.8;
}