body {
    display: grid;
    place-items: center;

    padding: 0;
    margin: 0;
    min-height: 100vh;

    font-size: 1rem;
    line-height: 1.5;
    font-family:
        Inter,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial,
        sans-serif,
        "Apple Color Emoji";

    background-color: #ecf0f7; /* N-1 50 */
    color: #191b1f; /* N-1 900 */
}

header {
    color: #000000; /* N-1 1000 */
    border-bottom: 1px solid #dee2e9; /* N-1 100 */
    text-align: center;
}

article {
    padding: 24px;
    background-color: #fafcff; /* N-1 10 */
    max-width: 40rem;
    border-radius: 32px;
}

footer {
    color: #5e5e5e; /* N-1 600 */
    display: block;
    border-top: 1px solid #dee2e9; /* N-1 100 */
    padding-top: 16px;
}

a {
    color: #234baa; /* A-1 600 */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #7e3f80; /* A-3 600 */
}

.link-button {
    /* Wrap text inside the container */
    display: inline-block;

    background-color: #234baa; /* A-1 600 */
    color: #ecf0f7; /* N-1 50 */
    font-weight: bold;
    border: none;
    border-radius: 48px;
    text-decoration: none;
    padding: 16px;

    text-decoration: none !important;
}

.button-container {
    text-align: center;
}

p:not(:last-child) {
    padding-bottom: 16px;
}

/* Dark theme overrides - default is light theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #191b1f; /* N-1 900 */
        color: #ecf0f7; /* N-1 50 */
    }

    header {
        color: #fafcff; /* N-1 10 */
        border-bottom-color: #44464b; /* N-1 700 */
    }

    article {
        background-color: #2e3034; /* N-1 800 */
    }

    footer {
        color: #8d9096; /* N-1 400 */
        border-top-color: #44464b; /* N-1 700 */
    }

    a {
        color: #a0c1ff; /* A-1 200 */
    }

    a:visited {
        color: #f2a1f4; /* A-3 200 */
    }

    .link-button {
        background-color: #a0c1ff; /* A-1 200 */
        color: #191b1f; /* N-1 900 */
    }
}

@media only screen and (max-width: 450px) {
    article {
        border-radius: 0;
        height: 100%;
    }
}
