<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Thank you for purchasing {{product.name}}!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/style.css">

        <meta name="robots" content="noindex">
    </head>

    <body>
        <article class="document-card">
            <header>
                <h1>Thank you!</h1>
            </header>

            <section>
                <p>Thank you for supporting me and my work! I really appreciate it. People like you help me keep working on Android projects for everyone to enjoy.</p>

                <div class="button-container">
                    <a class="link-button" role="button" href="{{firstDownloadLink}}">Download {{product.name}}</a>
                </div>

                <p>By using the download link, <strong>you agree to the <a href="https://kdrag0n.dev/terms-of-service">End-User License Agreement</a>.</strong> The link will work for a month. Sharing downloads is strictly prohibited and will result in a permanent ban.</p>

                <p>Questions? Just reply to this email or message me anywhere. Your receipt is on the way. Thanks again for your generosity!</p>
            </section>

            <footer>
                You can also find a copy of this message in your email, including additional links if you purchased multiple licenses. Check the Promotions tab if you’re using Gmail.
            </footer>
        </article>

        <!-- Workaround for Chrome bug: https://stackoverflow.com/questions/14389566/stop-css-transition-from-firing-on-page-load -->
        <script> </script>
    </body>
</html>
